.button-lg {
  font-size: $text-lg;
  padding: 11px $space-sm 13px $space-sm;
  @include breakpoint-sm {
    font-size: $text-base;
    padding: 12px $space-xs 12px $space-xs;
  }
}
.button-base {
  font-size: $text-base;
  padding: 10px $space-sm 10px $space-sm;
  @include breakpoint-sm {
    padding: 12px $space-xs 12px $space-xs;
  }
}
.button-sm {
  font-size: $text-sm;
  padding: 8px $space-xs 10px $space-xs;
}
.button-lg, .button-base, .button-sm, .newsletter-button-wrap, .toggle-button {
  position:relative;
  font-family: $family-base;
  font-weight: $font-bold;
  line-height: 100%;
  letter-spacing: $tracking-xl;
  text-transform: uppercase;
  text-align:center;
  border-radius: $border-radius-xl;
  background: $gradient;
  color: $neutral-100;
  text-decoration:none;
  display:inline-block;
  @include transition(350ms);
  span {
    z-index: 1;
    position: relative;
  }
  &:after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    position: absolute;
    background: $blue;
    border-radius: $border-radius-xl;
    opacity: $opacity-0;
    @include transition(350ms);
  }
  &:hover:after {
    opacity: $opacity-100;
  }
  &:hover {
    color: $neutral-100;
  }
  &.secondary {
    background: transparent;
    color: $neutral-100;
    border: 1px solid $neutral-800;
    &:after {
      display:none;
    }
    &:hover {
      color: $blue;
      border-color: $blue;
    }
  }
  &.dark {
    background: $neutral-900;
    color: $neutral-100;
    &:after {
      display:none;
    }
    &:hover {
      color: $neutral-900;
      background: $neutral-100;
    }
  }
  &.blue {
    background: $blue;
    border: 1px solid $blue;
    &:after {
      display:none;
    }
    &:hover {
      background: transparent;
      border: 1px solid $neutral-100;
    }
  }
  &.newsletter-button-wrap {
    background: $blue;
    border: 1px solid $blue;
    &:after {
      display:none;
    }
    &:hover {
      opacity: $opacity-80;
    }
  }
  &.ghost {
    background: transparent;
    padding-left: $space-2xs;
    padding-right: $space-2xs;
    &:after {
      display:none;
    }
    &:hover {
      background: transparent;
      color: $blue;
    }
    @include breakpoint-sm {
      padding-left: 6px;
      padding-right: 6px;
    }
  }
}
.toggle-button {
  cursor: pointer;
  p {
    padding:0;
    margin:0 !important;
  }
  &.active {
    color: $blue;
    border-color: $blue;
  }
}