.cta {
	.cta-row {
		grid-template-columns: 1fr 1fr;
		align-items: center;
		padding: 0 $space-md;
		.cta-graphic-img {
			width:50%;
			border-radius: $border-radius-md;
			box-shadow: $shadow-lg;
			@include breakpoint-md {
			  display: none;
			}
		}
		.cta-graphic-img-one {
			position:absolute;
			left:0;
			margin-bottom:$space-lg;
		}
		.cta-graphic-img-two {
			position:absolute;
			right:$space-md;
			margin-top:$space-lg;
		}
		.cta-content {
			padding: $space-3xl 0;
			h2 {
				max-width: 400px;
				@include breakpoint-md {
				  max-width:350px;
				}
			}
			.body-lg {
				margin: $space-sm 0;
			}
			@include breakpoint-md {
			  margin: 0 auto;
			  padding: 0 $space-xs;
			}
		}
		@include breakpoint-md {
			grid-template-columns: 1fr;
			grid-gap: 0px;
			padding: $space-md 0;
		}
	}
	#signup-form {
	  position: relative;
	  label, input, button {
	    width:100%;
	  }
	  label {
	  	margin-bottom: $space-3xs;
	  	display: block;
	  	@include transition(350ms);
	  }
	  .form-input {
	  	padding:$space-xs;
	  	border-radius:$space-3xs;
	  	color: $neutral-700;
	  	border: 1px solid $neutral-300;
	  	outline: none;
	  	margin: 0;
	  	font-size: $text-base;
	  	@include transition(350ms);
	  	&::-moz-focus-inner {
	  	  border: 0;
	  	  padding: 0;
	  	}
	  	&:focus {
	  		border-color: $neutral-600;
	  	}
	  }
	  .input-space {
	  	margin-bottom: $space-xs;
	  }
	  button {
	  	cursor:pointer;
	  	margin-top: $space-sm;
	  	outline: none;
	  	border:none;
	  	&::-moz-focus-inner {
	  	  border: 0;
	  	  padding: 0;
	  	}
	  	.button-text {
	  		opacity: 1;
	  		@include transition(350ms);
	  	}
	  	.button-loader {
	  		@include transition(350ms);
	  		opacity: 0;
	  		width:32px;
	  		position:absolute;
	  		top: 50%;
	  		left: 50%;
	  		-webkit-transform: translate(-50%, -50%);
			-moz-transform:    translate(-50%, -50%);
			-ms-transform:     translate(-50%, -50%);
			-o-transform:      translate(-50%, -50%);
			transform:         translate(-50%, -50%);
	  		@include transition(350ms);
	  	}
	  }
	  &.submitted {
	  	.form-input {
	  		pointer-events: none;
	  	}
	  	button {
	  		pointer-events: none;
	  		.button-text {
	  			opacity: 0;
	  		}
	  		.button-loader {
	  			opacity: 1;
	  		}
	  	}
	  }
	  &.posted {
	  	.form-input, label, button {
	  		opacity:0;
	  		pointer-events: none;
	  	}
	  }
	  #status {
	  	position: absolute;
	  	top: 0;
	  	left: 0;
	    width: 100%;
	    padding: 10px;
	    margin: 0 auto;
	    -webkit-animation: status 4s ease forwards;
	    -moz-animation:    status 4s ease forwards;
	    -o-animation:      status 4s ease forwards;
	    animation:         status 4s ease forwards;
	    width:100%;
	    padding: $space-xs;
	    border-radius:$space-3xs;
	  }
	  #status-text {
	  	display: flex;
	  	align-items: center;
	  }
	  .success {
	    color: $success-800;
	    background: $success-300;
	    #status-text {
	    	&:before {
	    	  content: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='https://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M3.55544 1.34824C4.87103 0.469192 6.41775 0 8 0C10.121 0.00237154 12.1545 0.845988 13.6542 2.34577C15.154 3.84554 15.9976 5.87899 16 8C16 9.58225 15.5308 11.129 14.6518 12.4446C13.7727 13.7602 12.5233 14.7855 11.0615 15.391C9.59966 15.9965 7.99113 16.155 6.43928 15.8463C4.88743 15.5376 3.46197 14.7757 2.34315 13.6569C1.22433 12.538 0.462403 11.1126 0.153722 9.56072C-0.15496 8.00887 0.00346565 6.40034 0.608967 4.93853C1.21447 3.47672 2.23985 2.22729 3.55544 1.34824ZM12.2392 6.01335C12.5228 5.60509 12.4216 5.04428 12.0134 4.76077C11.6051 4.47725 11.0443 4.57838 10.7608 4.98665L7.22645 10.0761L5.15432 7.88204C4.81303 7.52067 4.24341 7.5044 3.88204 7.84568C3.52067 8.18697 3.5044 8.75659 3.84568 9.11796L6.67902 12.118C6.86519 12.3151 7.13032 12.4178 7.4007 12.3975C7.67108 12.3772 7.91791 12.2361 8.07257 12.0134L12.2392 6.01335Z' fill='%23064E3B'/%3E%3C/svg%3E%0A");
	    	  padding-right: $space-2xs;
	    	  padding-top: $space-3xs;
	    	}
	    }
	  }
	  .error {
	      color: $error-800;
	      background: $error-300;
	      #status-text {
	      	&:before {
	      	  content: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='https://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M3.55544 1.34824C4.87103 0.469192 6.41775 0 8 0C10.121 0.00237154 12.1545 0.845988 13.6542 2.34577C15.154 3.84554 15.9976 5.87899 16 8C16 9.58225 15.5308 11.129 14.6518 12.4446C13.7727 13.7602 12.5233 14.7855 11.0615 15.391C9.59966 15.9965 7.99113 16.155 6.43928 15.8463C4.88743 15.5376 3.46197 14.7757 2.34315 13.6569C1.22433 12.538 0.462403 11.1126 0.153722 9.56072C-0.15496 8.00887 0.00346565 6.40034 0.608967 4.93853C1.21447 3.47672 2.23985 2.22729 3.55544 1.34824ZM8 3C8.55228 3 9 3.39465 9 3.88148L9 8.91852C9 9.40535 8.55228 9.8 8 9.8C7.44772 9.8 7 9.40535 7 8.91852L7 3.88148C7 3.39465 7.44772 3 8 3ZM8 13C7.7775 13 7.55999 12.936 7.37498 12.8161C7.18998 12.6962 7.04578 12.5257 6.96064 12.3263C6.87549 12.1269 6.85321 11.9075 6.89662 11.6958C6.94003 11.4841 7.04717 11.2896 7.20451 11.137C7.36184 10.9844 7.56229 10.8805 7.78052 10.8384C7.99875 10.7962 8.22495 10.8179 8.43052 10.9005C8.63609 10.9831 8.81179 11.1229 8.9354 11.3024C9.05902 11.4819 9.125 11.6928 9.125 11.9087C9.125 12.1981 9.00647 12.4757 8.7955 12.6804C8.58452 12.885 8.29837 13 8 13Z' fill='%238F0526'/%3E%3C/svg%3E%0A");
	      	  padding-right: $space-2xs;
	      	  padding-top: $space-3xs;
	      	}
	      }
	    }
	}
}
.footer-bottom {
	padding: $space-xs 0;
	border-top:1px solid $neutral-300;
}