@font-face {
  font-family: "San Francisco";
  font-weight: 400;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
}
@font-face {
  font-family: "San Francisco";
  font-weight: 600;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-semibold-webfont.woff");
}
@font-face {
  font-family: "San Francisco";
  font-weight: 700;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-bold-webfont.woff");
}
@font-face {
  font-family: "Degular";
  font-weight: 400;
  src:  url('https://jordanestenanderson.github.io/backnforth.github.io/assets/fonts/Degular-Medium.eot');
  src:  url('https://jordanestenanderson.github.io/backnforth.github.io/assets/fonts/Degular-Medium.eot?#iefix') format('embedded-opentype'),
        url('https://jordanestenanderson.github.io/backnforth.github.io/assets/fonts/Degular-Medium.woff2') format('woff2'),
         url('https://jordanestenanderson.github.io/backnforth.github.io/assets/fonts/Degular-Medium.woff') format('woff'),
         url('https://jordanestenanderson.github.io/backnforth.github.io/assets/fonts/Degular-Medium.ttf')  format('truetype'),
         url('https://jordanestenanderson.github.io/backnforth.github.io/assets/fonts/Degular-Medium.svg#svgFontName') format('svg');
}
@font-face {
  font-family: "Degular";
  font-weight: 700;
  src:  url('https://jordanestenanderson.github.io/backnforth.github.io/assets/fonts/Degular-Bold.eot');
  src:  url('https://jordanestenanderson.github.io/backnforth.github.io/assets/fonts/Degular-Bold.eot?#iefix') format('embedded-opentype'),
        url('https://jordanestenanderson.github.io/backnforth.github.io/assets/fonts/Degular-Bold.woff2') format('woff2'),
         url('https://jordanestenanderson.github.io/backnforth.github.io/assets/fonts/Degular-Bold.woff') format('woff'),
         url('https://jordanestenanderson.github.io/backnforth.github.io/assets/fonts/Degular-Bold.ttf')  format('truetype'),
         url('https://jordanestenanderson.github.io/backnforth.github.io/assets/fonts/Degular-Bold.svg#svgFontName') format('svg');
}
@font-face {
  font-family: "Degular";
  font-weight: 800;
  src:  url('https://jordanestenanderson.github.io/backnforth.github.io/assets/fonts/Degular-Black.eot');
  src:  url('https://jordanestenanderson.github.io/backnforth.github.io/assets/fonts/Degular-Black.eot?#iefix') format('embedded-opentype'),
        url('https://jordanestenanderson.github.io/backnforth.github.io/assets/fonts/Degular-Black.woff2') format('woff2'),
         url('https://jordanestenanderson.github.io/backnforth.github.io/assets/fonts/Degular-Black.woff') format('woff'),
         url('https://jordanestenanderson.github.io/backnforth.github.io/assets/fonts/Degular-Black.ttf')  format('truetype'),
         url('https://jordanestenanderson.github.io/backnforth.github.io/assets/fonts/Degular-Black.svg#svgFontName') format('svg');
}
html {
  font-family: $family-base;
  color: $neutral-700;
  font-weight: $font-base;
  font-size: 16px;
  line-height: $leading-base;
  @include breakpoint-md {
    font-size:15px;
  }
  @include breakpoint-sm {
    font-size:14px;
  }
}
::-moz-selection {
  color: $neutral-100;
  background: $blue
}
::selection {
  color: $neutral-100;
  background: $blue;
}
a, svg.hoverable path {
  @include transition(350ms);
}
a {
  color: $blue;
  &:hover {
    color: $neutral-700;
    svg.hoverable {
      path {
        fill: $blue;
      }
    }
  }
}
.title-5xl {
  font-family: $family-display;
  font-weight: $font-black;
  font-size: $text-5xl;
  line-height: $leading-sm;
  letter-spacing: $tracking-base;
}
.title-4xl {
  font-family: $family-display;
  font-weight: $font-black;
  font-size: $text-4xl;
  line-height: $leading-sm;
  letter-spacing: $tracking-base;
}
.title-3xl {
  font-family: $family-display;
  font-weight: $font-bold;
  font-size: $text-3xl;
  line-height: $leading-sm;
  letter-spacing: $tracking-base;
  @include breakpoint-md {
    font-size:2.25rem;
  }
  @include breakpoint-sm {
    font-size:2.15rem;
  }
}
.title-2xl {
  font-family: $family-display;
  font-weight: $font-bold;
  font-size: $text-2xl;
  line-height: $leading-sm;
  letter-spacing: $tracking-base;
  @include breakpoint-md {
    font-size:1.8rem;
  }
  @include breakpoint-sm {
    font-size:1.75rem;
  }
}
.title-xl {
  font-family: $family-display;
  font-weight: $font-bold;
  font-size: $text-xl;
  line-height: $leading-sm;
  letter-spacing: $tracking-base;
}
.title-lg {
  font-family: $family-base;
  font-weight: $font-bold;
  font-size: $text-lg;
  line-height: $leading-base;
  letter-spacing: $tracking-lg;
}
.title-base {
  font-family: $family-base;
  font-weight: $font-bold;
  font-size: $text-base;
  line-height: $leading-base;
  letter-spacing: $tracking-lg;
}
.title-sm {
  font-family: $family-base;
  font-weight: $font-bold;
  font-size: $text-sm;
  line-height: $leading-base;
  letter-spacing: $tracking-lg;
}
.title-xs {
  font-family: $family-base;
  font-weight: $font-bold;
  font-size: $text-xs;
  line-height: $leading-base;
  letter-spacing: $tracking-lg;
}
.overline-sm {
  font-family: $family-base;
  font-weight: $font-bold;
  font-size: $text-sm;
  line-height: $leading-sm;
  letter-spacing: $tracking-2xl;
  text-transform: uppercase;
}
.overline-xs {
  font-family: $family-base;
  font-weight: $font-bold;
  font-size: $text-xs;
  line-height: $leading-sm;
  letter-spacing: $tracking-2xl;
  text-transform: uppercase;
}
.overline-2xs {
  font-family: $family-base;
  font-weight: $font-bold;
  font-size: $text-2xs;
  line-height: $leading-sm;
  letter-spacing: $tracking-2xl;
  text-transform: uppercase;
}
.title-6xl, .title-5xl, .title-4xl, .title-3xl, .title-2xl, .title-xl, .title-lg, .title-base, .title-sm, .title-xs, .overline-sm, .overline-xs, .overline-2xs {
  color: $neutral-900;
  em {
    font-style: italic;
  }
  &.white, .white {
    color: $neutral-100;
  }
  &.grey, .grey {
    color: $neutral-700;
  }
  &.blue, .blue {
    color: $blue;
  }
  &.purple, .purple {
    color: $purple;
  }
}
.legal-title {
  margin-top:48px;
}
.richtext li {
  margin-top:8px;
}
.body-xl {
  font-size: $text-xl;
  @include breakpoint-sm {
    font-size: $text-lg;
  }
}
.body-lg {
  font-size: $text-lg;
}
.body-base {
  font-size: $text-base;
  @include breakpoint-sm {
    font-size: 1.1rem;
  }
}
.body-sm {
  font-size: $text-sm;
}
.body-xs {
  font-size: $text-xs;
}
.body-xl, .body-lg, .body-base, .body-sm, .body-xs {
  font-family: $family-base;
  color: $neutral-700;
  font-weight: $font-base;
  line-height: $leading-base;
  letter-spacing: $tracking-lg;
  strong {
    color: $neutral-800;
    font-weight: $font-bold;
  }
  em {
    font-style: italic;
  }
  &.align-left {
    text-align: left;
  }
  &.align-right {
    text-align: right;
  }
  a {
    color: $blue;
    text-decoration: underline;
    &:hover {
      color: $neutral-700;
    }
  }
  &.light, .light {
    color: $neutral-400;
    a {
      color: $blue;
      text-decoration: underline;
      &:hover {
        color: $neutral-100;
      }
    }
    strong {
      color: $neutral-100;
      font-weight: $font-bold;
    }
  }
  &.white, .white {
    color: $neutral-100;
    a {
      color: $blue;
      text-decoration: underline;
      &:hover {
        color: $neutral-100;
      }
    }
    strong {
      color: $neutral-100;
      font-weight: $font-bold;
    }
  }
}
a {
  &.inverse {
    color: $neutral-700;
    text-decoration: none;
    &:hover {
      color: $blue;
    }
  }
}
.quote-2xl {
  font-weight: $font-light;
  font-size: $text-2xl;
}
.quote-lg {
  font-weight: $font-base;
  font-size: $text-lg;
}
.quote-2xl, .quote-lg {
  font-family: $family-base;
  color: $neutral-800;
  line-height: $leading-lg;
  letter-spacing: $tracking-lg;
  font-style: italic;
  &.white, .white {
    color: $neutral-100;
  }
  &.grey, .grey {
    color: $neutral-700;
  }
  &.blue, .blue {
    color: $blue;
  }
  &.purple, .purple {
    color: $purple;
  }
}